<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjdev.wheretogo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".util.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WHERETOGO"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.sjdev.wheretogo.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sjdev.wheretogo.ui.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.guide.GuideActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.detail.DetailActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.recommend.RecommendActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.signup.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.setting.ChangeInfoActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.setting.ChangePwdActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.setting.SettingActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.setting.InquiryActivity"
            android:exported="true" />

        <activity
            android:name="com.sjdev.wheretogo.ui.detail.BlogDetailActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.detail.PracticeActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.review.WriteReviewActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.review.ShowReviewActivity"
            android:exported="true" />
        <activity
            android:name="com.sjdev.wheretogo.ui.company.CompanyPopularActivity"
            android:exported="true" />
        <activity
            android:name=".MapActivity"
            android:exported="true" />

        <activity
            android:name="com.sjdev.wheretogo.ui.myReview.MyReviewActivity"
            android:exported="true" />

        <service
            android:name="com.sjdev.wheretogo.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="sjghwbhs3t" />
    </application>

</manifest>